* {
  margin:0;
  padding: 0;
  text-rendering: auto;
  -webkit-text-size-adjust: 120%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

@font-face {
  font-family: shree714;
  src: url(fonts/shree714.otf);
}

img {
  border: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: #eeeeee;
  font-family: shree714, Arial, sans-serif;
  height: 100vh;
}

.topbar {
  display: flex;
  width: 100%;
  z-index: 1001;
}


.topbar button {
  border: none;
}

.topbar button:hover {
  color: #00b300;
}

button {
  background-color: transparent;
}

.info-button {
  float:left;
  display: block;
  z-index: 1300;
  position: fixed;
  padding: 15px;
  font-family: shree714, Arial, sans-serif;
  font-size: 56px;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  line-height: 56px;
  text-transform: none;
}

.info-content {
  display: none;
  overflow: auto;
  text-align: right;
  right: 15px;
  font-style: normal;
  z-index: 1400;
  max-width: 500px;
  position: absolute;
  top: 3vh;
  padding: 10px;
}

.show-info {
  display: block;
}

.hide-face {
  display: none;
}

.animation {
  position: fixed;
  top: 5px;
  right: 50px;
  padding: 1vh;
  z-index: 10000;
  visibility: visible;
}

.name {
  position: absolute;
  text-align: right;
  font-size: 56px;
  line-height: 56px;
  font-weight: 400;
}

.eye {
  width: 33px;
  height: 40px;
  left: 1px;
  top: 1px;
  display: inline-block;
  margin-left: 31px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball {
  width: 10px;
  height: 10px;
  background: #00b300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

a, a:visited {
  color: black;
}

a:hover {
  color: #00b300;
}

.slide-container {
  position: relative;
  z-index: 1;
}

.slides {
  position: relative;
  z-index: 1;
}


img, video {
  height: 100vh;
  max-height: 100% !important;
   /*-webkit-fill-available !important;
  height: -moz-available;          WebKit-based browsers will ignore this.
  height: fill-available;
  */
  vertical-align: middle;
  border-style: none;
  display: block;
}

.slick-next.slick-arrow, .slick-prev.slick-arrow {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  border: 0;
  padding: 0;
  opacity: 0;
  z-index: 100
  display: none;
}

 .slick-prev.slick-arrow {
   left: 0;
}

.slick-next.slick-arrow {
  right: 0;
}

.controls {
  display: flex;
  width: 100%;
  position: absolute;
  z-index: 2000;
  }

.captions {
  padding: 15px;
  text-transform: uppercase;
  flex: 1;
  width: 100px;
  margin-left: 2px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
body {
    font-size: 12px;
    line-height: 14px;
  }
  .eyes {
    visibility: hidden;
  }
  .info-content {
    left: 1vh;
  }
  .index-content, .info-content {
      font-size: 12px;
    }

}
