* {
  margin:0;
  padding: 0;
}

img {
  border: 0;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: "Austin";
  src: url("AustinNewsDeck-Light.woff2") format('woff2'),
       url('Austin.ttf') format('ttf');
  }

@font-face {
    font-family: "Austin-Italic";
    src: url("Austin-LightItalic.ttf");
  }
@font-face {
  font-family: "Arial";
  src: url("ArialNarrow.woff2") format('woff2'),
       url('ArialNarrow.ttf') format('ttf');
  }

@font-face {
  font-family: "Arial-Italic";
  src: url("ArialNarrow-Italic.woff2") format('woff2'),
       url("ArialNarrowItalic.ttf") format('ttf');

}

body {
  height: 100vh;
}

.animation {
  position: fixed;
  top: 88vh;
  left: 88vw;
  font-size: 7vh;
  z-index: 10000;
}

.name {
  position: absolute;
  text-align: right;
  line-height: 6vh;
  font-family: Arial;
}

.eye{
  width: 4vh;
  height: 5vh;
  left: 2vh;
  display: inline-block;
  margin-left: 2vh;
  border-radius: 50%;
  position: relative;
  top: -1vh;
  overflow: hidden;
}

.ball{
  width: 1vh;
  height: 1vh;
  background: #00b300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
}

.topbar {
  position: relative;
  display: inline-block;
  width: 100%;
}

button {
  border: none;
  background-color: #f8f8f8;
  padding: 1vw;
  font-family: Arial;
  font-size: 7vh;
  line-height: 6vh;
}

button:hover {
  color: #00b300;
}

.index-content {
  display: none;
  overflow: auto;
  float: right;
  z-index: 10;
  position: absolute;
  background-color: #f8f8f8;
  width: 100%;
  height: 100vh;
  top: 6.5vh;
  margin: 1vw;
}

.index-project img{
  width: 12vw;
  padding-top: 1vh;
}

.text {
  text-decoration: none;
}

.index-column {
 width:12vw;
 float:left;
 margin-right:1vw;
 padding: 1vh;
 text-decoration: none;
}

.info-button {
  float:right;
}

.info-content {
  display: none;
  overflow: auto;
  float: right;
  z-index: 200;
  position: absolute;
  left: 72vw;
  top: 6.5vh;
  padding: 10px;
}

.info-content ul {
  padding: 1vh 0 1vh;
}

.info-content li {
  font-family: Arial;
  font-size: 1.2vw;
}

.show-info, .show-index {
  display:block;
}

body {
 background-color: #f8f8f8;
}

.info-content ul, .index-content{
  font-size: 1.2vw;
  font-family: Arial;
  font-weight: 400;
}

a, a:visited {
  color: black;
}

a:hover {
  color: #00b300;
  }

.projects{
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 8vh;
  margin-left: 1vw;
}

.section h1, .index-column h1, .info-content ul {
  font-size: 1.4vw;
  font-family: Arial;
  font-weight: 400;
  text-decoration: none;
}

.section h1 {
  width: 80vw;
  text-align: center;
  }

.main-col {
  position: sticky;
  position:-webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top:0px;
  right: 33vw;
  float: right;
  width: 50vw;
  font-family: Austin;
  font-size: 5vh;
  line-height: 5.5vh;
  z-index:0;
}

#left-col {
  position: relative;
  display: block;
}

#left-col a img{
  width:10vw;
  margin-top: 1vh;
}

#left-col a .hid{
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  height: 90vh;
  width: 96vh;
  top:4vw;
  left:17vw;
  visibility: hidden;
  z-index: 1000;
}

#left-col a:hover .hid{
  visibility: visible;
}

#spec  {
  font-size: 1.2vw;
  font-family: Arial-Italic;
}

.year {
  float: right;
  margin-right: 30vw;
  top: -1.2vh
}

.italic{
  font-family: Austin-Italic;
}

#last-div {
  height: 200px;
}
